/* Estilos generales */
/* Por ejemplo, estilos para la barra de navegación y el contenido */
.sidebar-nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px; /* Ancho de la barra de navegación */
    background-color: rgba(51, 51, 51, 0.7);
    padding: 20px;
    
    
}




.content {
    margin-left: 70px; 
    justify-content: auto;
    text-align: center; 

}




.content1 {
    margin-left: 520px; 
    text-align: center; 
   
}

.content2 {
    margin-left: 620px; 
 
    text-align: center; 
   
}

.content3 {
    margin-left: 620px; 
  
    text-align: center; 
}

.indice {
    margin-top: 50px;/* Espacio para la barra de navegación */
    padding: 20px;
    text-align: left; /* Alinear texto al centro */
    color: #c5dce0;
    
}
.titulito
{
    margin-right: 35px;
    text-align: center;
}


.color {
    color: rgb(0, 192, 240);
}


.nombre
{
    margin-right: 70px;
}

.contactito
{
    margin-top: 100px;
}


.pie {
    position:fixed;
    margin-left: 850px; /* Espacio para la barra de navegación */
    bottom :0;
 
    text-align: center; /* Alinear texto al centro */
}

.servicios {
    margin-left: 120px; /* Espacio para la barra de navegación */
    padding: 20px;
    text-align: justify; /* Alinear texto al centro */
}

body {
    font-family:  'Arial Narrow', sans-serif; 
}




.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    
    align-items: center;
}




/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (max-width: 575px){

}



/*fondo de pantalla*/
body {
    background-image: url('https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Cubrir todo el área del cuerpo */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-attachment: fixed ;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    
}




.column {
    align-items: auto;
    flex-wrap: wrap;
    flex: 1; 
    padding:10px ;
    background-color: #f0f0f0;
    margin: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(148, 148, 148, 0.7);
    background-size: 100%; 
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; 
   
    
}


.column1 {
    flex-wrap: wrap;
    flex: 1; /* Hacer que las columnas se expandan para ocupar el espacio disponible */
    padding: 20px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(208, 203, 203, 0.7);
    background-size: fixed;
    background-position: center; 
    background-repeat: no-repeat; 

    
}

.column2 {
    flex-wrap: wrap;
    flex: vw; 
    padding: 20px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(208, 203, 203, 0.7);
    background-size: fixed;
    background-position: center;
    background-repeat: no-repeat;

    
}

.column3 {
    flex-wrap: wrap;
    flex: 1; 
    padding: 20px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(208, 203, 203, 0.7);
    background-size: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    align-items: center;

        
}

.column4 {
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(208, 203, 203, 0.7);
    background-size: fixed; 
    background-position: center; 
    background-repeat: no-repeat;

    margin-left: 150px;
    margin-top: 10px;
    
 
        
}

.contenedor
{
    display: flex; /* Utilizar Flexbox para el contenedor */
    flex-wrap: wrap;
    
    display: flex; 
    
    align-items: center
    
}

.container1
{
    display: flex;
    align-items: end;
    margin-bottom:500px ;
}


.tamaño
{
    font-size: 25px;
    text-align: center;
    
    flex-wrap: wrap;
   
}

.tamaño2
{
    font-size: 22px;
}








